header {
    margin: 5px;
    padding: 5px;
    border: 1.5px solid black;
    background-color: rgb(206, 204, 101);
}

main {
    margin: 30px;
    padding: 30px;
    border: 1.5px solid black;
    background-color: rgb(88, 167, 86);
}

footer {
    margin: 15px;
    padding: 15px;
    border: 1.5px solid black;
    background-color: rgb(74, 71, 241);
}